<h1>Edit existing article</h1>

<!--showing validation check errors:-->
<% if @article.errors.any? %>
  <h2>Failed to create: errors are as followed.</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |fm| %>
  <p>
    <%= fm.label :title %><br/>
    <%= fm.text_field :title %>
  </p>
  <p>
    <%= fm.label :desciption %><br/>
    <%= fm.text_area :description %>
  </p>
  <p>
    <%= fm.submit %>
  </p>
<% end %>
<%= link_to "Back to article list", articles_path %>